.formTitle{     
    font-weight: bold; 
}
.formGroup{ 
    border:#DDDDDD 1px solid;
    padding: 20px;
    border-radius: 10px;
}
.formLabel{
    margin-bottom: 0px;
    margin-top: .5rem;
}
.formMandSign:after{
    color:#FF0000;
    content: '*';
}
.formMandError{
    border:2px solid #FF0000;
}

.butt-delete{
    cursor: pointer;
    background-image: url('/front/img/icon/trash-2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    background-position: center;
}

/* Table Altern */
.altern tr:nth-child(even) {
    background-color: #EEE;
}

.altern tr:nth-child(odd) {
    background-color: #FFF;
}


.altern td{
    padding: 3px;
}

.posInline{
    float:left; 
    padding-right: 5px;
}

.hrTitle{
    position: absolute;
    left: 15px;
    top: 5px;
    background-color: #FFFFFF;
    padding-right: 5px;
    padding-left: 5px;
    color: #AAAAAA;
    font-weight: bold;
}

.discretBox{
    color: #aaa;
    margin-top: 8px;
    font-size: 10px;
}

.formRo-val{
    font-style: italic;
}

.formRo-label{
    color:#555555;
    margin-bottom: 0px;
    margin-top: .5rem;
    font-weight: lighter;
}

.msgInfo{
    background-color: #EEEEFF;
    border: solid 1px #AAAAFF;
    padding: 0 6px;
    border-radius: 5px;
}

.msgError{
    background-color: #f2dede;
    border-color: #FF0000;
}

.msgDebug{
    background-color: #f3e97a;
    border-color: #f89406;
}

.msgUpdate{    border-color: #f89406;}
.msgInsert{    border-color: #51a351;}
.msgDelete{    border-color: #bd362f;}
.msgCached{    background-color: #FFFFFF; color: #AAAAAA;}
